<!DOCTYPR html>
<html>
	<head>
		<title>Andrea Delgado</title>
		<link rel="stylesheet" 
		href="static/css/style.css">
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	</head>
	<body>
		<h1 class="intro">Andrea Delgado</h1>
		<p>Software Developer</p>

		<nav>
			<a href="#about">About Me</a>
			<a href="#skills">Skills</a>
			<a href="#projects">Projects</a>
			<a href="#download_cv">Download CV</a>
			<a href="#contact_me">Contact Me</a>
		</nav>


		<section id="about">
			<h1>About me</h1>
				<p>Hello, meet me, Andrea Delgado! <br><br>
					
					I have a degree in Agribusiness Engineering, which means my career path somehow went from Food Supply Chains to Algorithms and Software Development.
					The curiosity led me into the world of Computer Science and Software Development, where I discovered a passion for building solutions, learning new technologies, and continuously improving my skills. <br><br>
					Today, I'm focused on combining my industry knowledge with technology to help organizations streamline processes, improve efficiency, and create meaningful impact. I'm excited to continue growing as a developer
					and am always open to new opportunities, challenges, and collaborations.
				<br><br>
				<button>Hire me!</button>
		</section>

		<section id="skills">
			<h1>Skills and Technologies</h1>
				<p>I enjoy learning new technologies and continuously expanding my skill set.<br><br>
					Below are some of the programming languages, frameworks, and tools I've worked with throughout my academic and personal projects.
				<p>HTML</p> 
				<p>CSS</p>
				<p>PHP</p>
				<p>SQL</p>
				<p>JAVA</p>
				<p>C++</p>
				<p>PYTON</p>
				<p>GITHUB</p>
				<p>VSCODE</p>
				<p>FLASK</p>
				<p></p>
		</section>

		<section id="projects">
			<h1>My projects</h1>
		</section>

		<section id="contact_me">
			<h1>Contact me</h1>
			<form action="#" method="post">
					<label for="name">Name</label><br>
					<input type="text" id="name" name="name" placeholder="Your name" required>

					<br><br>

					<label for="email">Email</label><br>
					<input type="email" id="email" name="email" placeholder="your.email@example.com" required>
					
					<br><br>

					<label for="message">Message</label><br>
					<textarea id="message" name="message" rows="5" placeholder="Write your message here..." required></textarea>

					<br><br>

					<button type="submit">Send Message</button>
			</form>
		</section>
		
	<section>
		<footer>
			
			<div class="social-icons">
				<a href="https://www.linkedin.com/in/andrea-delgado001" target="_blank">
					<i class="fa-brands fa-linkedin"></i>
				</a>

				<a href="https://github.com/andremagda" target="_blank">
					<i class="fa-brands fa-github"></i>
				</a>
			</div>
			<p>Copyrigth © 2026 Andrea Delgado</p>
		</footer>
	</section>
	</body>
</html>