<!DOCTYPR html>
<html>
	<head>
		<title>Andrea Delgado</title>
		<link rel="stylesheet" 
		href="static/css/style.css">
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	</head>
	<body>
		<h1 class="intro">Andrea Delgado</h1>

		<nav class="navigation_bar">
			<div class="menu_items">
				<a href="#about" class="active">About Me</a>
				<a href="#skills">Skills</a>
				<a href="#projects">Projects</a>
				<a href="#download_cv">Download CV</a>
				<a href="#contact_me">Contact Me</a>
			</div>
		</nav>


		<section id="about">
			<h1>About me</h1>
				<p>
					<div class="hello"> Hello, </div><br>
					<div class="introIm"> I'm </div><br>
					<div class="introName"> Andrea Delgado <br> Software Developer</div><br>
					<div class="introText">
					I have a degree in Agribusiness Engineering, which means my career path somehow went from Food Supply Chains to Algorithms and Software Development.
					The curiosity led me into the world of Computer Science and Software Development, where I discovered a passion for building solutions, learning new technologies, and continuously improving my skills. <br><br>
					Today, I'm focused on combining my industry knowledge with technology to help organizations streamline processes, improve efficiency, and create meaningful impact. I'm excited to continue growing as a developer
					and am always open to new opportunities, challenges, and collaborations.
					</div><br><br>
				<button>Hire me!</button>
		</section>

		<section id="skills">
			<h1>Skills and Technologies</h1>
				<p>I enjoy learning new technologies and continuously expanding my skill set.<br><br>
					Below are some of the programming languages, frameworks, and tools I've worked with throughout my academic and personal projects. </p>
			<div class="skills-list">
				<p class="skill-box"><i class="fa-brands fa-html5 skill-icon"></i> HTML</p> 
				<p class="skill-box"><i class="fa-brands fa-css3-alt skill-icon"></i> CSS</p>
				<p class="skill-box"><i class="fa-brands fa-php skill-icon"></i> PHP</p>
				<p class="skill-box"><i class="fa-solid fa-database skill-icon"></i> SQL</p>
				<p class="skill-box"><i class="fa-brands fa-java skill-icon"></i> JAVA</p>
				<p class="skill-box"><i class="fa-solid fa-code skill-icon"></i> C++</p>
				<p class="skill-box"><i class="fa-brands fa-python skill-icon"></i> PYTHON</p>
				<p class="skill-box"><i class="fa-brands fa-github skill-icon"></i> GIT HUB</p>
				<p class="skill-box"><i class="fa-solid fa-code skill-icon"></i> VS CODE</p>
				<p class="skill-box"><i class="fa-solid fa-flask skill-icon"></i> FLASK</p>
				
			</div>	
		</section>

		<section id="projects">
			<h1 class="projectsTitle">My projects</h1>
			<p> Below you will find a diverse collection of projects, just for educational purposes.</p>
			<div class="myProjects">
				<div class="project">
					<div class="projectType web"> Web</div>
					<div class="projectTitle"> HR-Plaftform</div>
					<div class="technologies">
						<span class="technology"> Flask</span>
						<span class="technology"> SQL</span>
						<span class="technology"> HTML</span>
						<span class="technology"> CSS</span>
					</div>
				</div>
	
				<div class="project">
					<div class="projectType web"> Web</div>
					<div class="projectTitle"> Volley database</div>
					<div class="technologies">
						<span class="technology"> Java</span>
						<span class="technology"> SQL</span>
						<span class="technology"> HTML</span>
						<span class="technology"> CSS</span>
						<span class="technology"> PHP</span>
					</div>
				</div>
			
				<div class="project">
					<div class="projectType web"> Desktop</div>
					<div class="projectTitle"> Car Dealership</div>
					<div class="technologies">
						<span class="technology"> Java</span>
						<span class="technology"> SQL</span>
						<span class="technology"> PHP</span>
					</div>
				</div>
			</div>
		</section>

		<section id="contact_me">
			<h1>Contact me</h1>
			<p> Please fill out the form below so we can discuss any work opportunities.</p>
			<form class="contactForm" action="#" method="post">
					<input type="text" class="name" name="name" placeholder="Name" required>

					<br><br>

					<input type="email" class="email" name="email" placeholder="your.email@example.com" required>
					
					<br><br>

					<textarea class="message" name="message" rows="5" placeholder="Write your message here..." required></textarea>

					<br><br>

					<button type="submit" class="submitButton">Send Message</button>
			</form>
		</section>
		
	<section>
		<footer>
			
			<div class="social-icons">
				<a href="https://www.linkedin.com/in/andrea-delgado001" target="_blank">
					<i class="fa-brands fa-linkedin"></i>
				</a>

				<a href="https://github.com/andremagda" target="_blank">
					<i class="fa-brands fa-github"></i>
				</a>
			</div>
			<p>Copyrigth © 2026 Andrea Delgado</p>
		</footer>
	</section>
	</body>
</html>